numpy==1.26.4
scipy==1.12.0
matplotlib==3.8.4
contourpy==1.2.1
python-dateutil
packaging
cycler
kiwisolver
pyparsing
pillow

opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
protobuf

pybullet==3.2.7
robot_descriptions==1.21.0      # optional — keep only if needed
xacro==2.1.1                    # optional — keep only if needed

python-can
pyserial
odrive

customtkinter
tqdm
colorama

GitPython
smmap
gitdb

